################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/obj/test.csproj.nuget.g.targets
/test/obj/test.csproj.nuget.g.props
/test/obj/test.csproj.nuget.dgspec.json
/test/obj/test.csproj.nuget.cache
/test/obj/project.assets.json
/test/obj/Debug/netcoreapp2.1/test.pdb
/test/obj/Debug/netcoreapp2.1/test.dll
/test/obj/Debug/netcoreapp2.1/test.csprojAssemblyReference.cache
/test/obj/Debug/netcoreapp2.1/test.csproj.FileListAbsolute.txt
/test/obj/Debug/netcoreapp2.1/test.csproj.CoreCompileInputs.cache
/test/obj/Debug/netcoreapp2.1/test.assets.cache
/test/obj/Debug/netcoreapp2.1/test.AssemblyInfoInputs.cache
/test/obj/Debug/netcoreapp2.1/test.AssemblyInfo.cs
/test/bin/Debug/netcoreapp2.1/test.runtimeconfig.json
/test/bin/Debug/netcoreapp2.1/test.runtimeconfig.dev.json
/test/bin/Debug/netcoreapp2.1/test.pdb
/test/bin/Debug/netcoreapp2.1/test.dll
/test/bin/Debug/netcoreapp2.1/test.deps.json
/.vs/VSWorkspaceState.json
/.vs/test/v16/Server/sqlite3/storage.ide-wal
/.vs/test/v16/Server/sqlite3/storage.ide-shm
/.vs/test/v16/Server/sqlite3/storage.ide
/.vs/test/v16/Server/sqlite3/db.lock
/.vs/test/v16/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
